h1 {
  font: 1em/150% Helvetica, Arial, sans-serif;
  max-width: 20em;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
 position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

img {
  position: absolute;
  top: 500px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body{
  background-color: rgb(156,245,255);
  background-repeat: no-repeat;
}

.image {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin:-60px 0 0 -60px;
    -webkit-animation: spin 0.7s infinite linear;
    -moz-animation: spin 0.7s infinite linear;
    -o-animation: spin 0.7s infinite linear;
    -ms-animation: spin 0.7s infinite linear;
    }
    @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg);}
    100% { -webkit-transform: rotate(360deg);}
    }
    @-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg);}
    100% { -moz-transform: rotate(360deg);}
    }
    @-o-keyframes spin {
    0% { -o-transform: rotate(0deg);}
    100% { -o-transform: rotate(360deg);}
    }
    @-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(360deg);}
    }
