h1 {
font-size:60;
font:  Helvetica, Arial, serif;
background-color:grey;
color: rgb(219,185,63);
border: 15px solid black;
position: absolute;
        top: 5%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

img {
  position: absolute;
  top: 500px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body{
  background-image: url(http://more-sky.com/data/out/10/IMG_418373.png);
  /*background-color: rgb(156,245,255);*/
  background-repeat: no-repeat;
}

div{
  text-align: justify;
  font: 1em/150% Helvetica, Arial, sans-serif;
  max-width: 100em;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  width: 350;
 position: absolute;
        top: 45%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}
